
.navbar {
    background: #2C2A29;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo-icon {
    width: 24px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .navbar-nav {
    display: flex;
    gap: 15px;
  }
  
  .navbar-nav-link {
    font-family: 'Open Sans, sans-serif';
    font-size: 16px;
    color: #F0EAD6;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-nav-link:hover {
    color: #C0A77B;
  }
  
  