.sign-up {
    margin: 25px auto;
}

.Button {
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
    background: #32a85a;
    color: #F0EAD6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .Button:hover {
    background-color: var(--mauve-3);
  }
  
  .Button:focus {
    box-shadow: 0 0 0 2px black;
  }
  
